# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

.idea/

_example-mvc-api/.env
_example-mvc-api/vendor
_example-mvc-api/db
_example-mvc-api/db/mysql_init
_example-mvc-api/db/mysql_data
_example-mvc-api/access.log
_example-mvc-api/tmp

.go-version
